body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: cadetblue;
}

#loadingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
p {
  width: max-content;
}

.typing-effect {
  font-size: 44px;
  font-weight: bold;
  font-family: cursive;
  display: inline-block;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s steps(40, end) infinite;
}
